* {
   margin:0;
   padding:0; 
   font-family: 'Plus Jakarta Sans', sans-serif;
}
.hero-container {
    min-height: 50vh;
    height: 80vh;
    width: 1;
    padding: 2% 5%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),url(https://plus.unsplash.com/premium_photo-1677087121017-b779a16ff921?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
}

.container-left-half{
    display: flex;
    width: 45%;
    height: 80%;
    flex-direction: column;
    justify-content: flex-end;
}

.container-left-half > * {
    margin-bottom: 4%;
}

.hero-button{
    display: inline-block;
    background-color: #00CC83;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    width: fit-content;
    cursor: pointer;
}

nav, footer{
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}

nav ul li, .container-list-left, .container-list-right{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer;
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #204ecf;
    display: block;
    margin: auto;
    transition: .5s;
}

nav ul li:hover::after{
    content: '';
    width: 100%;
    height: 3px;
    background: #204ecf;
    display: block;
    margin: auto;
}

.nav-list-left{
    flex: 1;
    text-align: left;
}

.nav-list-right{
    flex: 1;
    text-align: right;
}

.leading-companies-container{
    width: 1;
    height: 12vh;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #ebecef;
}
.leading-companies-container-header{
    height: 100%;
    width: fit-content;
    align-items: center;
    border: #204ecf;
    font-weight: 400;
}
.companies-img{
    width: 18%;
    border: #ebecef;
    margin-left: 2%;
}

.section-header{
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    width: 1;
    align-items: center;
    text-align: center;
}

.section-header h1{
    margin-bottom: 1%;
    font-weight: 300;
}

.section-header p{
    width: 30%;
}

.grid-3-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap: 1px;
    padding: 2% 5%;
}

.grid-3-step {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 1px;
    padding: 2% 5%;
}

.menu-card {
    display: flex;
    background-color: #ebecef;
    padding: 10% 8%;
    flex-direction: column;
    transition: background-color .2s;
    cursor: pointer;
}

.menu-card:hover{
    background-color: #204ecf;
    color: white;
}

.menu-card img {
    width: fit-content;
    height: 60px;
    margin-bottom: 10%;
}

.menu-card .menu-image .mi1{
    background-image: url(./image/icon-explore.png);
}

.menu-card h1 {
    font-weight: 100;
    margin-bottom: 5%;
}

.step-card {
    display: flex;
    background-color: #ebecef;
    padding: 10% 8%;
    flex-direction: column;
    transition: background-color .2s;
    cursor: pointer;
}

.step-card h2 {
    margin-bottom: 5%;
}

.step-card:hover{
    background-color: #00CC83;
    color: white;
}

.contact-container {
    min-height: 20vh;
    height: 40vh;
    width: 1;
    padding: 2% 5%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)),url(https://images.unsplash.com/photo-1531973576160-7125cd663d86?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}