@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

nav, footer{
  display: flex;
  padding: 1% 4%;
  justify-content: space-between;
  align-items: center;
}

nav ul li, .container-list-left, .container-list-right{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  cursor: pointer;
}

nav ul li::after{
  content: '';
  width: 0%;
  height: 3px;
  background: #204ecf;
  display: block;
  margin: auto;
  transition: .5s;
}

nav ul li:hover::after{
  content: '';
  width: 100%;
  height: 3px;
  background: #204ecf;
  display: block;
  margin: auto;
}

.nav-list-left{
  flex: 1;
  text-align: left;
}

.nav-list-right{
  flex: 1;
  text-align: right;
}

p {
  margin: 0;
}

button {
  background-color: white;
  padding: 6px 14px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-weight: 600;
  opacity: 1;
  transition: opacity ease-in-out 300ms;
}
button:hover,
button:active {
  opacity: 0.7;
}

body {
  background-color: #f1f1f1;
  font-size: 12pt;
  font-family: "Nunito Sans", sans-serif;
}

button.icon {
  border: 1px solid transparent;
  padding: 4px 8px;
}
button.icon:hover,
button.icon:active {
  border: 1px solid lightgray;
}

.wrapper {
  display: grid;
  grid-template-columns: calc(70% - 2rem) 30%;
  gap: 1.5rem;
  padding: 2rem 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 1rem;
}

.detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detail .title {
  display: flex;
  align-items: ce;
  justify-content: space-between;
  gap: 0.5rem;
}

@media (min-width: 768px) {
  .wrapper > :first-child {
    order: 2;
  }
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-columns: 100%;
  }

  button {
    font-size: 10pt;
  }
}

.card-content {
  width: 100%;
  background-color: white;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 12px;
  font-size: 11pt;
}

.card-content .header {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}

.card-content h5 {
  font-weight: 700;
  font-size: 12pt;
  margin: 0;
}

.card-content h4 {
  font-weight: 700;
  font-size: 14pt;
}

.profil {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.profil .profil-info {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  gap: 1rem;
}

.profil .profil-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 16pt;
}

.profil .profil-info > span {
  color: gray;
  font-size: 10pt;
}

.profil .profil-info select {
  border-color: transparent;
  font-weight: 700;
  color: var(--bs-primary);
  outline: none;
}

.profil .profil-info .loc {
  color: gray;
  margin-top: 1rem;
  font-size: 10pt;
}

.profil .profil-info .contacts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 6px;
  color: inherit;
  text-decoration: none;
}

.contact span {
  color: var(--bs-primary);
}

@media (max-width: 780px) {
  .profil,
  .profil .profil-info {
    flex-wrap: wrap;
  }

  .profil .profil-info .contacts {
    flex-direction: row;
  }
}

.progres {
  background-color: rgb(240, 240, 255);
  border-left: 6px solid var(--bs-primary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.progres-bar {
  width: 100%;
  display: flex;
}

.progres-bar > div {
  width: calc(100% / 5);
  height: 10px;
  background-color: #eee;
  border-radius: 1rem;
}

.progres-bar > .done {
  background-color: var(--bs-primary);
}

.tasks {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  padding-top: 1rem;
  border-top: 1px dashed #ccc;
  overflow-x: auto;
}

.tasks .task {
  flex: 0 0 auto;
  width: 360px;
  height: 100%;
  max-width: 80%;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.tasks .task button {
  margin-top: auto;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.items .item {
  display: flex;
  gap: 0.5rem;
}

.items .item .detail {
  flex: 1 1 auto;
}

.list {
  display: flex;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.list > * {
  flex: 1 1 50%;
}

.list > :first-child {
  color: gray;
  flex-basis: 10%;
}

.statistics * {
  font-size: 10pt;
}

.statistics .visitor {
  font-weight: 700;
  color: var(--bs-primary);
  font-size: 12pt;
}

.statistics .public {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.public .link {
  flex: 1 1 auto;
}

.public button,
.public .link {
  color: var(--bs-primary);
}

.form-label {
  margin-bottom: 0;
  font-size: 10pt;
}